<h2> Sobre mí </h2>
<div class="about-me">
	<ul>
		<li><h4>Nombre: </h4><p>Jose Carlos Tejada</p></li>
		<li><h4>Imagen: </h4><img src="/images/author.jpg" alt="Jose Carlos Tejada" style="width:225px;height:250px;"></li>
		<li><h4>Vídeo: </h4><iframe width="560" height="315" src="https://www.youtube.com/embed/aVS4W7GZSq0" frameborder="0" allowfullscreen></iframe></li>
	</ul>
</div>