<div class="create_question">
	<label for="preg" class="rem">Pregunta:</label>
	<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>"/> 
</div>
<div class="create_answer">
	<label for="resp" class="rem">Respuesta:</label>
	<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>"/>
</div>
<div class="create_buttons">
<a href="/quizes"><button type="button">Cancelar</button></a>
<input	type="submit" value="Salvar"/>
</div>